@charset "UTF-8";



h1{
    color:#5a4498;
    font-size:60px;
    
}
h2{
    color:#e4007f;
    font-size:15px;
}
body{

    text-align:center;
    background-image:url("ellyfsp52805_TP_V.jpg");
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
}


  ul{
    list-style:none;
    padding:0;
  }  
    
    
    

    
